<ion-view view-title="Economics">
        <ion-content class="padding">
        <h1>LEAVE <br> on Economics</h1>
          <p>No longer contribute to EU budget (2015, £8.5bn, net contribution)</p>
          <p>Since 1973, UK has given £500bn to the EU (3x NHS budget)</p>
          <p>EU regulation costs £600 million a week</p>
            <a class="button icon icon-right ion-chevron-right" href="#/economics/remain">Read REMAIN on economics</a>
          </p>
        </ion-content>
      </ion-view>