<ion-view view-title="Economics">
        <ion-content class="padding">
        <h1>REMAIN <br> on Economics</h1>
        
        <p>Worst case Brexit scenario > loses 2.2% of total GDP by 2030 (by comparison, recession of 2008­2009 knocked 6% off GDP)</p>
        <p>£24bn investment from Europe</p>
        <p>£1 into EU, £10 back</p>
        <p>Each household, £850 ­ £1,700 worse off per annum</p>

        <a class="button icon icon-right ion-chevron-right" href="#/economics">Read REMAIN on economics</a>
        </ion-content>
      </ion-view>