<ion-view view-title="EU Referendum">
  <ion-content>
    <img style="position: absolute; top: -60px;" id="home-header" src="img/header_home_page.png"/>
    <center>
    <a href="#/why"><img style="top:15%" class="tri-image" src="img/Why_home_page.png"/></a>
    <a href="#/when"><img style="top:45%; z-index:3" class="tri-image" src="img/When_home_page.png"/></a>
    <a href="#/how"><img style="top:60%" class="tri-image" src="img/How_home_page.png"/></a>
    </center>
  </ion-content>
</ion-view>
