<ion-view view-title="How to register to vote">
  <ion-content>
    <div class="card">
    <div class="item item-text-wrap">
      <h1>How do I register to vote?</h1>
        <a href="https://www.gov.uk/register-to-vote">
        <h2>Click here to register to vote online!</h2>
        <h3>It only takes about 3 minutes!<h3>
        </a>
    </div>
  </div>
  
  <div class="card">
    <div class="item item-text-wrap">
      <h1>I live in two places, can I register?</h1>
        <h2>Yes. You can register in two places so long as you only vote in one</h2>
        </a>
    </div>
  </div>

  </ion-content>
</ion-view>