<ion-view view-title="Account">
  <ion-content>
    <center>
    <h1><strong>When?</strong> Deadlines and Events</h1>
    <h2>Time until deadline to register to vote:</h2>
    <div class="countdown">
        <div id="days_flaps" class="flap_group">
            <div class="flap left">0</div>
            <div class="flap right">0</div>
            <div class="flap_group_name">Days</div>
        </div>

        <div id="hours_flaps" class="flap_group">
            <div class="flap left">0</div>
            <div class="flap right">0</div>
            <div class="flap_group_name">Hours</div>
        </div>


        <div id="minutes_flaps" class="flap_group">
            <div class="flap left">0</div>
            <div class="flap right">0</div>
            <div class="flap_group_name">Minutes</div>
        </div>


        <div id="seconds_flaps" class="flap_group">
            <div class="flap left">0</div>
            <div class="flap right">0</div>
            <div class="flap_group_name">Seconds</div>
        </div>
    </div>
    </center>
  </ion-content>
</ion-view>